body{
    background-color: rgb(236, 236, 255);
    margin: 0;
}
.logo{
    padding-left: 20px;
    height: 50%;
}
.nav-header{
    background-color: white;
    box-shadow: 0px 5px 15px black;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    height: 7.5vh;
}
.btn{
    background-color: white;
    border: white;
    font-size: larger;
    font-weight: bolder;
    color: rgb(0, 162, 255);
}
.btn:hover{
    background-color: rgba(0, 238, 255, 0.534);
    border-radius: 15px;
    color: rgb(255, 255, 255);
}
.active{
    background-color: rgb(0, 162, 255);
    border-radius: 15px;
    color: rgb(255, 255, 255);
}

.menu{
    background-color: white;
    color: blue;
    height: 40px;
    width: 30px;
}
.menu:hover{
    background-color: black;
    color: white;
}
.content{
}
.sidebar{
    position: fixed;
    left: 0;
    width: 23vw;
    height: 100%;
    background: white;
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 1rem;
    box-shadow: 5px 4px 5px black;
    transform: translate(-100%);
    transition: all .4s ease-in;
}
.show-sidebar{
    transform: translate(0%);
    transition: all .4s ease-in;
}
.cross{
    margin-left: auto;
    background-color: white;
    color: blue;
    height: 30px;
    width: 20px;
}
li{
    display: flex;
}
ul{
    list-style-type: none;
}
.links a {
    display: block;
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    color: gray;
    width: 25px;
}
.links a:hover {
    background: rgba(255, 255, 255, 0.137);
    color: rgb(0, 0, 255);
    padding-left: 1.75rem;

 }
 .visit{
     display: inline;
     padding-top: .9rem;
     font-size: large;
     text-transform: capitalize;
     font-style: italic;
 }
.main{
    padding-left: 1.5vw;
    padding-top: 1.5vw;
    display: none;
    transition: all .4s linear;
    font-size:small;
}
.main-show{
    display: block;
}
.pad{
    padding-left: 24.5vw;
    transition: all .4s linear;
}
.create-new{
    height: 2rem;
    color: black;
    background-color: white;
}
.n{
    padding-top: .5vw;
}
label{
    display: inline-block;
    width: 15vw;
    vertical-align: top;
}
.final{
    height: 2.3vw;
    width: 50vw;
    font-size: 2vw;
}
@media only screen and (max-width: 1000px){
    .visit{
        display: none;
    }
}
@media only screen and (max-width: 600px){
    .sidebar{
        display: none;
    }
    .main{
        padding-left: 1.5vw;
        transition: all .5s linear;
    }
    .logo{
        display: none;
    }
    .menu{
        display: none;
    }
}