body{
	font-size: 100%;
	background-color: #FFdddd;
}
div{
	padding: 0px 10px 10px 0px;
}
header{
	color: blue;
	font-size: 300%;
	font-weight: bold;
}
label{
	display: inline-block;
	width: 75px;
	text-align: right;
	vertical-align: top;
}
input{
	width: 400px;
	font-size: 100%;
}
input:focus{
	border: 3px solid blue;
	background-color: #aaffff;
}
button{
	font-size: 100%;
}
img{
	width: 200px;
	height: 200px;
}
#rangeInput{
	display: inline-block;
	width: 20px;
	margin-left: 20px;
	text-align: center;
	border: 2px solid black;
}
#square{
	border: 3px	solid black;
	text-align: justify;
	width: 400px;
	display: inline-block;
}