body{
	color: #000000;
	background-color: #00ffff;
}
h1{
	text-align: center;
	color: #ffff00;
}
form{
	margin: 0 auto;
	width: 400px;
	padding: 1px;
	border: 1px solid #ffffff;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
form li + li {
	margin-top: 10px;
}
label{
	display: inline-block;
	width: 70px;
	text-align: right;
}
input, textarea{
	font: 1em sans-serif;
	width: 300px;
	box-sizing: border-box;
	border: 3px solid #999;
}
input:focus, textarea:focus{
	border-color: #00f;
}
textarea{
	vertical-align: top;
	height: 200px;
}
.button{
	padding-left: 90px;
}
button{
	margin-left: .5em;
}
legend{
	color: white;
}
input#size1,#size2,#size3,#orderw{
	width: 20px;
}
label{
	text-align: left;
}